<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PresentationLayer.Properties.Settings.RentacarDBConnectionString"
            connectionString="Data Source=DESKTOP-NDCIMUS;Initial Catalog=RentAcar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PresentationLayer.Properties.Settings.RentACar200311ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\RentACar200311.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>